<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Lead</h1>
    <p>Name: <%= @consultation.name %></p>
    <p>Phone: <%= @consultation.phone %></p>
    <p>Email: <%= @consultation.email %></p>
    <p>Locations: <%= @consultation.locations %></p>
    <p>Type of Business: <%= @consultation.bustype %></p>
  </body>
</html>